[user]
    name = MLFlexer
    email = 75012728+MLFlexer@users.noreply.github.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://github.itu.dk"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
