alias v="nvim"
alias ls="eza"
alias cat="smart_cat"
alias diff="difft"
alias lg="lazygit"
alias uhm="home-manager switch --flake /home/mlflexer/repos/.dotfiles/#mlflexer"
alias nix_gc="nix-collect-garbage"
alias nix_gc_all="nix-collect-garbage -d"
