alias v="nvim"
alias ls="eza"
alias cat="bat"
alias diff="difft"
alias lg="lazygit"
alias uhm="home-manager switch --flake /home/mlflexer/repos/.dotfiles/#mlflexer"
alias ws="/home/mlflexer/.config/wezterm/scripts/workspace_switcher.sh"
alias nix_gc="nix-collect-garbage"
alias nix_gc_all="nix-collect-garbage -d"
