name: Build and Push to cachix

on:
  push:
  workflow_dispatch:

jobs:
  build-raspberrypi-kernels:
    strategy:
      fail-fast: false
      matrix:
        version: ["5"]

    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v14
        with:
          name: "${{ secrets.CACHIX_CACHE_NAME }}"
          # Fixed: Use authToken (capital T) and consistent secret name
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      
      # Build the kernel specifically from the rpi5 config
      - run: nix --accept-flake-config build .#nixosConfigurations.rpi${{ matrix.version }}.config.boot.kernelPackages.kernel
      
      # Build the whole system (this ensures everything unique to the RPi5 is cached)
      - run: nix --accept-flake-config build .#nixosConfigurations.rpi${{ matrix.version }}.config.system.build.toplevel

  build-vendor-packages-1:
    strategy:
      fail-fast: false
      matrix:
        package:
          - raspberrypifw
          - raspberrypiWirelessFirmware
          - raspberrypi-utils
          - raspberrypi-udev-rules
          - pisugar-power-manager-rs
          - ffmpeg_7-headless
          - kodi-gbm
          - rpicam-apps
          - libcamera
          - libpisp

    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v14
        with:
          name: "${{ secrets.CACHIX_CACHE_NAME }}"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      
      # Pulling these from the pkgs defined inside the rpi5 configuration
      - run: nix --accept-flake-config build .#nixosConfigurations.rpi5.pkgs.${{ matrix.package }}
